
body{
  background: url(jona.jpg);
  background-size: cover;
}

.container{
    border-radius: 10px;
    border: 5px solid #8df320;
	background: #ffdf41;
	width: 325px;
	height: 400px;
	position: absolute;
	top:15%;
	right: 25%;
	
	margin: auto;
  padding: 10px 50px 90px 50px;
}


.fl{
	float: left;
  width: 130px;
  line-height: 25px;
  align-items: center;
}

.fontLabel{
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.fr{
	float: left;
}

.clr{
	clear: both;
}

.box{
	width: 360px;
	height: 35px;
	margin-top: 10px;
	font-family: verdana;
    padding: auto;
	font-size: 15px;
}

.textBox{
	height: 35px;
	width: 190px;
	border: 1px dashed black;
  padding-left: 20px;
  text-align: justify;
}

.new{
  float: left;
}

.iconBox{
	height: 35px;
	width: 35px;
	box-sizing: border-box;
    border:2px dotted black;
	padding-top: 10px;
    padding-left: 10px;
    
}

.radio{
	color: black;
	background: #ffdf41;
	line-height: 38px;
}

.terms{
	line-height: 25px;
	text-align: center;
	background: #ffdf41;
	color: black;
}

.submit{
	float: right;
	border: none;
	color: white;
	width: 360px;
	height: 30px;
	background: #33ee04;
	text-transform: uppercase;
  cursor: pointer;
  border: 2px dotted black;

}
.submit:hover{
    
    background: blanchedalmond;
    color: black;
    border:3px dotted red;
    font-size: large;
    font-weight: 600;
}


