* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  #ck{
    box-sizing: 30px;
    
  }
  body {
    background: yellow;
    font-family: 'Rubik', sans-serif;
    background-image: url(jona.jpg);
    background-position: center;
    background-size:cover;
  }
  h1{
    text-align: center;
    font-weight: bold;
  }
  .h{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    width: 50%;
    font-weight: 600;
    text-decoration: double;
    text-shadow: #f2f61b;
    color: #f10e0e;
    margin-top: 75px;
    margin-left: 440px;
    background-repeat: no-repeat;
    background-position: center;
  }
  button{
    border-radius: 0;
  }
  .ck input:checked{
    color: #f10e0e;
  }
  
  .login-form {
    background: #fff;
    width: 350px;
    display: -webkit-box;
    margin-top: 0px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
          border-radius: 5px;
          box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
          margin-left: 650px;
  }
  .login-form h1 {
    padding: 35px 35px 10px 35px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .login-form .content {
    padding: 35px;
    text-align: center;
  }
  .login-form .input-field {
    padding: 12px 5px;
  }
  .login-form .input-field input {
    font-size: 16px;
   display:block;
   width:100%;
   padding: 10px 0px;
 border:0;
 border-bottom: 1px solid #747474;
 outline:none;
 -webkit-transition: all .2s;
 transition: all .2s;
    
  }
  .login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  
  .login-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:focus {
    border-color: rgba(12, 27, 244, 0.962);
  }
  .login-form a.link {
  
    color: #f10e0e;
    letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top:20px;
  margin-bottom: 0px;

  }
  .login-form .action{
    margin-top: 1px;
  }
  
  .login-form a.link:hover{
    color:#0d5ae8;
  }
  .login-form a.link:active{
    color:green;
  }
  
  .login-form .action button {
    width:100%;
    border: none;
    font-family: 'Rubik', sans-serif;
    padding: 18px;
    cursor: pointer;
    text-transform: uppercase;
    background: #e5d306;
    color: rgb(38, 12, 237);
    
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  }
  .login-form .action button:hover {
    background: #12e20a70;
  }
  .login-form .action button:nth-child(2) {
    background: #0d5ae8;
    color: rgb(242, 20, 20);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;

  }

  .login-form .action button:nth-child(2):hover {
    background: #12e20a70;
  }

 #g{
  top:30px;
  position: absolute;
  right: 16px;
  font-size: 18px;
 
  text-decoration-color: #e5d306;
 

 }

 